<ion-content [fullscreen]="true">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="logo">
          <img src="./assets/images/png/clube.png" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-10">
        <div class="login">
          <div id="loginScreen"></div>
        </div>
        <ion-button (click)="onRegister()" expand="block" fill="clear" shape="round">
          Cadastre-se
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
