.mensagem-notificacao-titulo{
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
.mensagem-notificacao{
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  font-weight: 100;
}
.card-notificacoes {
  min-height: 100px;
}
